.article {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 2px 2px 8px black;
    margin: 20px auto;
    background-color: hsl(0, 0%, 95%);
}