html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}



.BMI {
    margin: 0 auto;
    max-width: 850px;
}

.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.form__button {
    width: 100%;
    border: none;
    background-color: teal;
    color: wheat;
    padding: 10px;
    border-radius: 10px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}

.form__fieldset {
    border: 1px solid black;
    background-color: hsl(0, 0%, 95%);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.form__legend {
    background-color: teal;
    color: wheat;
    border-radius: 10px;
    padding: 10px;
}

.form__bmi {
    color: teal;
}

.policz {
    color: teal
}